html 
{
    background-color:#EFEEEF;
    margin: 0;
    padding: 0;
}

body {
    
    color: #333;
    font-size: .85em;
    font-family: "Georgia", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    position:relative;
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

a:hover {
    background-color: #c7d1d6;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.highlight {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}


/* main layout
----------------------------------------------------------*/
.pt-header {
    background-color: #DD4A37;
    color: #FFFFFF;
    height: 40px;
    padding: 5px 0;
    width: 100%;
}
.pt-header .banner {
    display: table;
    margin:6px auto;
    width: 70%;
}
.pt-header .banner .ourlogo{
   
    display:table-cell;
}
.officetitle
{
    padding:10px;
    font-size:20px;
}

.rduoffice
{
    border-right: 1px dashed;
    display: inline-block;
    height: 220px;
    padding: 10px;
}
.chnoffice
{
     display: inline-block;
    height: 220px;
    padding: 20px;
}
.pt-header .banner .ourmenu{
   
    display:table-cell;
    float:right;
    color:White;
}
.left
{
    float: left;
}

.right {
    float: right;
    position: absolute;
    right: 35px;
}
.pt-header .logo {    
    font-size: 25px;
    font-weight: bolder;
    text-indent: 8px;
}

.pt-header .menu {
    background-color: #1291C4;
    background-position: 0 -620px;
    font-size: 1.1em;
    font-weight: bold;
    height: 32px;
    line-height: 27px;
    margin-left: 532px;
    margin-top: 6px;
    text-align: center;
    width: 250px;
}

#logindisplay

{
   background-color: #F9AE17;
    display: block;
    float: right;
    font-size: 1.3em;
    height: 31px;
    line-height: 28px; 
    text-align: center;    
}
#logindisplay a {
    color: #FFFFFF;
    padding: 5px 20px;    
    text-decoration: none;             
}
#logindisplay a:link
{
    color: white;
    text-decoration: none;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: none;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.about .abtcompany p
{
    display: inline-block;
    float: left;
    padding: 20px;
    text-align: justify;
    width: 28%;
    
}
.rotate
{
    background-color:White;
}
.loginpage
{
    height:30px;
    background-color:White;
}
.contact
{
    background-color:White;
}
.Awards
{
    color:#5F7184;
}
.Awards div
{
    display:inline-block;
    padding:20px;
}
#body
{
    min-height:455px;
}
.rotate ul#rotat li 
{
     background: url("../Images/BG.png") no-repeat;
}
#footer {
   background-color: #383838;
    color: #FFFFFF;
    height: 55px;
    margin: 25px auto 0;
    min-width: 100%;
    position: relative;
    bottom:0;
}
.sfrotator_container {
    background-color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    margin-left:-8px !important;
    padding:0px !important;
}
.ui-widget-header
{
    background: url("") repeat-x scroll 50% 50% #7FA037 !important;
}
fieldset input[type="submit"] 
{
    background-color: #7FA037 !important;
}
.sfrotator-itemlist {
    border: 1px solid #FFFFFF !important;
}
.parentabout
{
    background-color:White;
}
.Imgleft {
    height: 270px;
  position:relative;
  padding-left: 200px;
    width: 600px;
	}
	.ImgRightText 
	{
	height: 270px;
    padding: 0;
    width: 350px;
	position:relative;
	float:left;
	overflow:hidden;    
    bottom:160px;
	left:680px;
	color:Black;
	font-size:25px;
	}	
	
.contact .office
{
    background-color: #FFFFFF;
    height: 425px;
    margin: 0 auto;
    width: 70%;
}
.contact .office .titletxt
{
     font-size: 35px;
    padding: 20px;
    text-align: justify;
}
.about .titletxt {
    font-size: 35px;
    padding: 20px;
    text-align: justify;
}
.about {
    background-color: #FFFFFF;
    height: 270px;
    margin: 0 auto;
    width: 72%;
}
.global-links {
    bottom: 0;
    margin: 0 auto;
    padding-top: 15px;
    position: relative;
    width: 70%;
}
#footer ul#menuFooter
{
    padding:0px;
}
#footer ul#menuFooter li a
{
    color:#A5A59A;
}
#footer ul#menuFooter li a:hover 
{
    
    border:2px solid #A5A59A;
}
.content-wrapper {
   
    margin: 0 auto;
    width:1210px;
    clear:both;
    vertical-align: middle;
}
.features {
    margin-left: 110px;
}

#dp_swf_engine
{
    display:none;
}

    .main-content {
      
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

footer {
    background-color: #383838;
    bottom: 0;
    clear: both;
    display: table;
    font-size: 0.8em;
    height: 40px;
    position: fixed;
    width: 100%;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 20px 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
     
    display: block;
    font-size: 0.85em;
    margin: 0 auto;
    text-align: right;
    width: 70%;
}

    #login a {
            background-color: #EEEEEE;
    padding: 0 5px 5px;
    position: relative;
    text-decoration: none;
    top: 5px;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

   
#login ul {
    background-color: #EEEEEE;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15%;
    width: 105px;
}

    #login li {
    border-top: medium none;
    display: inline-block;
    height: 25px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    float:left;	
    }
    #login li:first-child {
    border-right: 1px dashed;
    }


/* menu
----------------------------------------------------------*/
ul#menu,
ul#menuFooter
 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    text-align: right;
}

    ul#menu li,
    ul#menuFooter li
     {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a,
        ul#menuFooter li a {
            background: none;
            color: white;
            font-size:17px;
            padding:3px;
            text-decoration: none;
            border: 2px solid transparent;
        }

        ul#menu li a:hover,
        ul#menuFooter li a:hover
         {
            color:white;            
            border:2px solid #C23B2C;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */

section.feature {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: inline-block;
    float: left;
    height: 360px;
    margin-left: 25px;
    padding: 23px;
    width: 245px;
}


/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.one {
            background: url("../Images/orderedListOne.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedListTwo.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedListThree.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 50%;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    display: inline-block;
    padding: 10px;
   
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    fieldset label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }

    fieldset label.checkbox {
        display: inline;
    }

    fieldset input[type="text"],
    fieldset input[type="password"] {
        border: 1px solid #e2e2e2;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }

        fieldset input[type="text"]:focus,
        fieldset input[type="password"]:focus {
            border: 1px solid #7ac0da;
        }

    fieldset input[type="submit"] {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
    }

/* ajax login/registration dialog */
.modal-popup {
    font-size: 0.7em;
}

    .modal-popup input[type="text"],
    .modal-popup input[type="password"] {
        width: 90%;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

ul#social li {
    display: inline;
    list-style: none;
}

    ul#social li a {
        color: #999;
        text-decoration: none;
    }

    a.facebook, a.twitter {
        display: block;
        float: left;
        height: 24px;
        padding-left: 17px !important;
        text-indent: -9999px;
        width: 16px;
    }

    a.facebook {
        background: url("../Images/facebook.png") no-repeat;
    }

    a.twitter {
        background: url("../Images/twitter.png") no-repeat;
    }


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
    font-size: .85em;
    background-color: #FFFFFF;
    display: block;
    font-size: 0.85em;
    margin: 0 auto;
    text-align: right;
    width: 70%;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.one,
            ol.round li.two,
            ol.round li.three {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    fieldset input[type="text"],
    fieldset input[type="password"] {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }

        ul#social {
            padding: 0;
            margin: 0;
        }

        a.facebook, a.twitter {
            background: none;
            display: inline;
            float: none;
            height: auto;
            padding-left: 0;
            text-indent: 0;
            width: auto;
        }
}